<!-- Hero Section -->
<section style="background: url(/assets/img/hero.jpg); background-size: cover; background-position: center center"
  class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1>Kate's Blog </h1><a [routerLink]="['/blog']" class="hero-link">Discover More</a>
      </div>
      <!-- </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a> -->
    </div>
  </div>
</section>
<!-- Intro Section -->
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

        <h1 class="h1"
          style="font-family: 'Permanent Marker', cursive;color:#C68D95; text-align: left; font-size: 3em;">Welcome to
        </h1>
        <p class="1 "
          style="font-family: 'Permanent Marker', cursive;color:#C68D95; text-align: left; font-size: 2.5em;">My Petit
          Paradise</p>
        <p class="text-big">Welcome to my Petit Paradise! I want to share impressive <strong>Movies, Arts, and Books</strong> with you! Please leave a comment if you want to share any opinions or like the post! Take a look around. Have a beautiful day!</p>
      </div>
      <div class='widget widget_aboutmenbt' style="width: 350px">
        <div style="background-color: black;">
          <h4 style="color:white; text-align: center;">ABOUT ME</h4>
        </div>
        <div class='widget_aboutnbt groupnbt' class="float-right">
          <p><img class="rounded-circle" style="display: block; margin-left: auto; margin-right: auto; width: 60%;"
              src='/assets/img/mela.jpg' />
          </p>
          <p class="h5" style="margin-left: 20px; color:#C68D95"> Hi, my name is <em style="text-decoration: underline;">Kate Seo</em> I am an assiduous and passionate individual who loves to read a book, watch movie and drawing arts. </p>
          <p class='widget_about_sign'style="font-family: 'Permanent Marker', cursive;color:black; text-align: right; font-size: 1.2em;" >Kate Seo</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="featured-posts no-padding-top">
  <div class="container">
    <!-- Post -->
    <div class="row d-flex align-items-stretch">
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category"><a [routerLink]="['/blog']" [queryParams]="{ category: 'Movie' }">Movie
                  <h2 class="h4">Become Hero & Heroine!</h2>
                  <p>Discover More</p>
                </a>
              </div>
            </header>

          </div>
        </div>
      </div>
      <div class="image col-lg-5"><img src="/assets/img/movie.jpg" alt=""></div>
    </div>
    <!-- Post -->
    <div class="row d-flex align-items-stretch">
      <div class="image col-lg-5"><img src="/assets/img/Books.jpg" alt=""></div>
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category"><a [routerLink]="['/blog']" [queryParams]="{ category: 'Book' }">Book
                  <h2 class="h4">Food For Thought!</h2>
                  <p>Discover More</p>
                </a>
              </div>
            </header>

          </div>
        </div>
      </div>
    </div>
    <!-- Post                            -->
    <div class="row d-flex align-items-stretch">
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category"><a [routerLink]="['/blog']" [queryParams]="{ category: 'Museum' }">Movie
                  <h2 class="h4">Travel Back In Time With Arts</h2>
                  <p>Discover More</p>
                </a>
              </div>
            </header>
          </div>
        </div>
      </div>
      <div class="image col-lg-5"><img src="/assets/img/museum.jpg" alt=""></div>
    </div>
  </div>
</section>
<!-- Divider Section-->
<section style="background: url(/assets/img/divider-bg.jpg); background-size: cover; background-position: center bottom"
  class="divider">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2 style="font-family: 'Open Sans Condensed', sans-serif; font-weight: 100; font-size:2.0rem">Books and movies
          are like apples and oranges. <br>They Both are fruit, but taste completely different. <br><br>
          Stephen King</h2>
      </div>
    </div>
  </div>
</section>
<!-- Latest Posts -->
<section class="latest-posts">
  <div class="container">
    <header>
      <h2>Latest from the blog</h2>
      <p class="text-big">The fascinating and interesting new blogs</p>
    </header>
    <div class="row">
      <div class="post col-md-4" *ngFor="let post of posts">
        <div class="post-thumbnail"><a [routerLink]="['/post', post._id]"><img style="width:350px; height:300px;"
              [src]="post.featuredImage" alt="" class="img-fluid"></a></div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">{{ post.postDate | date: 'mediumDate' }} </div>
            <div class="category"><a routerLink>{{ post.category }}</a></div>
          </div><a routerLink="/post">
            <h3 class="h4">{{ post.title }}</h3>
          </a>
          <div style="height:70px; overflow:hidden">
            <p class="text-muted" [innerHTML]="post.post"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Newsletter Section-->
<!-- <section class="newsletter no-padding-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Subscribe to Newsletter</h2>
        <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.</p>
      </div>
      <div class="col-md-8">
        <div class="form-holder">
          <form action="#">
            <div class="form-group">
              <input type="email" name="email" id="email" placeholder="Type your email address">
              <button type="submit" class="submit">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Gallery Section-->
<section class="gallery no-padding">
  <div class="row">
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="/assets/img/gallery-1.jpg" data-fancybox="gallery" class="image"><img
            src="/assets/img/gallery-1.jpg" alt="" class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div>
        </a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="/assets/img/gallery-2.jpg" data-fancybox="gallery" class="image"><img
            src="/assets/img/gallery-2.jpg" alt="" class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div>
        </a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="/assets/img/gallery-3.jpg" data-fancybox="gallery" class="image"><img
            src="/assets/img/gallery-3.jpg" alt="" class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div>
        </a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="/assets/img/gallery-4.jpg" data-fancybox="gallery" class="image"><img
            src="/assets/img/gallery-4.jpg" alt="" class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div>
        </a></div>
    </div>
  </div>
</section>
